{% extends "base.html" %}

{% block title %}Tweet Deatil{% endblock %}

{% block content %}
<h1>Tweet Detail</h1>
<ul>
  <li>
      ユーザー : {{tweet.user}}
      {% if isFollowing %}
      <a href="{% url "accounts:unfollow" username=tweet.user.username %}">フォロー中</a>
      {% else %}
      <a href="{% url "accounts:follow" username=tweet.user.username %}">フォローする</a>
      {% endif %}
  </li>
  <li>
      作成日時 : {{tweet.created_at}}
  </li>
  <li>
      ツイート： {{tweet.content}}
  </li>
</ul>
<a href="{% url 'tweets:delete' pk=tweet.id %}">削除</a>
<a href="{% url 'tweets:home' %}">戻る</a>
{% endblock %}
